*{
	font-family: 'Archivo', sans-serif;
}
#nav:hover{
	color: #2987F1
}


#blue{
	border: solid #969AA1 3px;
	background-color: #1A5095;
	margin-top: 2em;
	width: 90%;
	height: 8em;
	margin-left: 2em;
}
#grey{
	border: solid #969AA1 3px;
	background-color: white;
	margin-top: 40px;
	margin-left: 60px;
	height: 100px;
	width: 15%;
	margin-right: 0;
}

#nav1{
	font-size: 3em;
	margin-left: 50px;
	margin-top: 25px;
	color: grey;
	font-size-adjust: 50px;
	width: 20%;
	color: #1A5095;

}
#nav1 { transform: scale(1.5,1); 
}

#header{
	position: absolute;
	top: 205px; 
	right: 150px;
}
#header1{
	margin-top: 50px;
	height: 400px;
	margin-left: 30px;
}
#auto{
	font-size: 5em;
	color: #1A5095;
	margin-top: 100px;
	margin-left: 100px;
}
#balk{
	background-color: #1A5095;
	height: 2px;
	width: 85%;
	margin-top: 40px;
	margin-left: 40px;
}
#proef{
	margin-left: 5em;
	margin-top: -65px;
	font-size: 3em;
	color: #606367;
}
#text1{
	margin-top: 50px;
	width: 80%;
	margin-left: 90px;
	color: grey;
}
#gratis{
	border: solid #969AA1 3px;
	background-color: #1A5095;
	width: 75%;
	margin-left: 5em;
	margin-top: 3em;
	height: 8em;
}

#proefles{
	color: white;
	font-size: 4em;
	margin-left: 20%;
	margin-top: 30px;
}
#nav{
	font-size: 4em;
	margin-top: 27px;
	margin-left: 1em;
	color: white;
	width: 50px;
	text-align: center;
	cursor: pointer;
}
#menu{
	background-color: #1A5095;
	list-style-type: none;
	height: 0px;
	overflow: hidden;
	font-size: 2rem;
	width: 650px;
	display: inline-block;
	margin-left: 150px;
	margin-top: -65px;		
}


#li1{
	color: white;
}

#li2{
	color: white;
}

#map{
	color: #1A5095;
	margin-left: 100px;
	margin-top: 100px;
	font-size: 5em;
}

#locaties{
	margin-left: 5em;
	margin-top: -65px;
	font-size: 3em;
	color: #606367;
}

#balk1{
	background-color: #1A5095;
	height: 2px;
	width: 85%;
	margin-top: 40px;
	margin-left: 40px;
}
#text1{
	margin-top: 50px;
	width: 80%;
	margin-left: 90px;
	color: grey;
}
#hier{
	color: #1A5095;
}
#hat{
	color: #1A5095;
	margin-left: 100px;
	margin-top: 100px;
	font-size: 5em;
}

#rijles{
	margin-left: 5em;
	margin-top: -65px;
	font-size: 3em;
	color: #606367;
}

#balk2{
	background-color: #1A5095;
	height: 2px;
	width: 85%;
	margin-top: 40px;
	margin-left: 40px;
}
#text2{
	margin-top: 50px;
	width: 80%;
	margin-left: 90px;
	color: grey;
}

.video{
	margin-top: 90px;
	margin-left: 45px;
	width: 90%;
	height: 30rem;
	border: solid #1A5095 10px;
}

#phone{
	display: none;
}
#nummer{
	display: none;
}
#whatssap{
	display: none;
}
#nummer1{
	display: none;
}
#clock{
	display: none;
}
#time{
	display: none;
}
#dash{
	display: none;
}
#dashboard{
	display: none;
}
#facebook{
	display: none;
}
#insta{
	display: none;
}
#twitter{
	display: none;
}
#head1{
	display: none;
}
#down{
	display: none;
}
#head2{
	display: none;
}
#down1{
	display: none;
}
#head3{
	display: none;
}
#header3{
	display: none;
}
#head4{
	display: none;
}
#head5{
	display: none;
}
#header4{
	display: none;
}
#extra{
	display: none;
}
#rijschool{
	display: none;
}
#extra1{
	display: none;
}
#meer{
	display: none;
}
.item{
	display: none;
}
#balk3{
	display: none;
}
#auto1{
	display: none;
}
#proef1{
	display: none;
}
#autotext{
	display: none;
}
#map1{
	display: none;
}
#locaties1{
	display: none;
}
#balk4{
	display: none;
}
#maptext{
	display: none;
}
#hattext{
	display: none;
}
#hat1{
	display: none;
}
#balk5{
	display: none;
}
#hattext{
	display: none;
}
#hier1{
	display: none;
}
.video1{
	display: none;
}
#rijlessen1{
	display: none;
}
@media(min-width:1024px){

	#blue{
		border: solid #969AA1 1px;
		background-color: #1A5095;
		margin-top: -15px;
		width: 101%;
		height: 3em;
		margin-left: -10px;
}

	#phone{
		display: inline-block;
		color: white;
		margin-left: 500px;
		margin-top: 20px;
}

	#nummer{
		display: inline-block;
		color: white;
}

	#whatssap{
		display: inline-block;
		color: white;
		margin-left: 30px;

	}

	#nummer1{
		display: inline-block;
		color: white;
	}
	
	#clock{
		display: inline-block;
		color: white;
		margin-left: 30px;
	}

	#time{
		display: inline-block;
		color: white;
		margin-left: 3px;
	}

	#dash{
		display: inline-block;
		color: white;
		margin-left: 30px;
	}
	
	#dashboard{
		display: inline-block;
		color: white;
		margin-left: 5px;
	}
	
	#facebook{
		display: inline-block;
		color: white;
		margin-left: 90px;
	}
	
	#insta{
		display: inline-block;
		color: white;
		margin-left: 10px;
	}

	#twitter{
		display: inline-block;
		color: white;
		margin-left: 10px;
	}
	
	#header3{
		display: inline-block;
		margin-left: 100px;
	}

	#head1{
		display: inline-block;
		position: absolute;
		top: 90px;
		left: 600px;
		color: #1A5095;
	}

	#down{
		display: inline-block;
		position: absolute;
		top: 108px;
		margin-left: 200px;
		color: #1A5095;
	}

	#head2{
		display: inline-block;
		position: absolute;
		left: 800px;
		top: 92px;
		color: #1A5095;
	}

	#down1{
		display: inline-block;
		position: absolute;
		top: 108px;
		margin-left: 420px;
		color: #1A5095;
	}

	#head3{
		display: inline-block;
		position: absolute;
		top: 92px;
		left: 1020px;
		color: #1A5095;
	}

	#head4{
		display: inline-block;
		position: absolute;
		top: 92px;
		left: 1170px;
		color: #1A5095;
	}
	
	#head5{
		display: inline-block;
		position: absolute;
		top: 92px;
		left: 1360px;
		color: #1A5095;
	}

	#header4{
		display: inline-block;
		margin-top: 0px;
		width: 101%;
		margin-left: -10px;
		height: 580px;
	}

	#extra{
		display: inline-block;
		position: absolute;
		top: 600px;
		left: 600px;
		height: 70px;
		width: 300px;
		border: solid white 2px;
		background-color: #1A5095;
	}

	#rijschool{
		display: inline-block;
		color: white;
		margin-left: 50px;
		margin-top: 20px;
		
	}

	#extra1{
		display: inline-block;
		position: absolute;
		top: 680px;
		left: 550px;
		height:30px;
		width: 400px;
		border: solid white 2px;
		background-color: #1A5095;
	}
	#meer{
		display: inline-block;
		color: white;
		margin-top: 5px;
		margin-left: 30px;
	}

	.item{
		display: inline-block;
  		float:right;
  		height: 20px;
  		width: 100%;

}

	#logo{
		height: 550px;
	}
	#rij{
		height: 550px;

	}
	#rij1{
		height: 550px;
		width: 100%;
	}
		#rij2{
		height: 550px;
		width: 100%;
	}
		#rij3{
		height: 550px;
		width: 100%;
	}
		#rij4{
		height: 550px;
		width: 100%;
	}
		#rij5{
		height: 550px;
		width: 100%;
	}
		#rij6{
		height: 550px;
		width: 100%;
	}
		#rij7{
		height: 550px;
		width: 100%;
	}
		#rij8{
		height: 550px;
		width: 100%;
	}

	#rij9{
		height: 550px;
		width: 100%;
	}

	#rij10{
		height: 550px;
		width: 100%;
	}

	#rij11{
		height: 550px;
		width: 100%;
	}

#auto1{
	display: inline-block;
	font-size: 2em;
	color: #1A5095;
	margin-top: 600px;
	margin-left: 140px;
}
#proef1{
	display: inline-block;
	margin-left: 10px;
	margin-top: -25px;
	font-size: 1em;
	color: #606367;
}
#balk3{
	display: inline-block;
	position: absolute;
	top: 870px;
	left: 100px;
	background-color: #1A5095;
	height: 2px;
	width: 25%;
}
#autotext{
	display: inline-block;
	position: absolute;
	left: 140px;
	top: 870px;
	width: 25%;
	color: grey;
}

#map1{
	display: inline-block;
	margin-left: 330px;
	color: #1A5095;
	font-size: 2em;
}
#locaties1{
	display: inline-block;
	font-size: 1em;
	margin-left: 10px;
	color: #606367;
}
#balk4{
	display: inline-block;
	position: absolute;
	top: 870px;
	left: 580px;
	background-color: #1A5095;
	height: 2px;
	width: 25%;
}
#maptext{
	display: inline-block;
	position: absolute;
	top: 870px;
	left: 620px;
	width: 23%;
	color: grey;
}
#hat1{
	display: inline-block;
	position: absolute;
	top: 829px;
	left: 1070px;
	color: #1A5095;
	font-size: 2em;
}
#balk5{
	display: inline-block;
	position: absolute;
	top: 870px;
	left: 1030px;
	background-color: #1A5095;
	height: 2px;
	width: 25%;
}
#rijlessen1{
	display: inline-block;
	margin-left: 365px;
	font-size: 1em;
	color: #606367;
}
#hattext{
	display: inline-block;
	position: absolute;
	top: 870px;
	left: 1060px;
	width: 25%;
	color: grey;
}
#hier1{
	display: inline-block;
	color: #1A5095;
}

.video1{
	display: inline-block;
	margin-top: 230px;
	margin-left: 130px;
	width: 85%;
	height: 30rem;
	border: solid #1A5095 10px;
}

















	#grey{
		display: none;
}

	#nav{
		display: none;
}
	#nav1{
		display: none;
}
#header{
		display:none;
}
#header1{
		display:none;
}
#auto{
		display:none;
}
#balk{
		display:none;
}
#proef{
		display:none;
}
#text1{
		display:none;
}
#gratis{
		display:none;
}

#proefles{
		display:none;
}
#nav{
		display:none;
}
#menu{
		display:none;
}


#li1{
		display:none;
}

#li2{
		display:none;
}

#map{
		display:none;
}

#locaties{
		display:none;
}

#balk1{
		display:none;
}
#text1{
		display:none;
}
#hier{
		display:none;
}
#hat{
		display:none;
}

#rijles{
	display:none;
}

#balk2{
	display:none;
}
#text2{
	display:none;}

.video{
	display:none;
}
}
}